In [1]:
# Load library 
import numpy as np
import pandas as pd

In [6]:
# Load libarary
import pandas as pd
import numpy as np
from IPython.display import display

# Membuat Series
number_list = pd.Series([1, 2, 3, 4, 5, 6])
string_list = pd.Series(["Usep","Syaikal","Arifin"])
display(number_list)
display(string_list)

# Membuat Dataframe
matrix = [[1, 2, 3],
           ["a","b","c"],
           [3, 4, 5],
           ["d", 4, 6]]
matrix_list = pd.DataFrame(matrix)
display(matrix_list)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

0       Usep
1    Syaikal
2     Arifin
dtype: object

   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

In [14]:
# Load library atau modul
import pandas as pd
import numpy as np

# Membuat series
number_series = pd.Series([1, 2, 3, 4, 5, 6])
string_series = pd.Series(["a","b","c","d","e"])
display(number_list)
display(string_list)

# Membuat dataframe
matrix = [[1, 2, 3],
           ["a","b","c"],
           [3, 4, 5],
           ["d", 4, 6]]
matrix_list = pd.DataFrame(matrix)
display(matrix_list)

# 1. Attribute -> info()
print("[1] Attribute Info -> .info()")
display(matrix_list.info())

# 2. Attribute -> .shape
print("[2] Attribute Shape -> .shape")
display("Dimensi series = %d Baris"%number_list.shape)
display("Dimensi series = %d Baris"%string_list.shape)
display("Dimensi Dataframe = %d Baris & %d Kolom"%matrix_list.shape)

# 3. Attribute -> .dtypes
print("[3] Attribute Dtypes -> .dtypes")
display(number_list.dtypes)
display(string_list.dtypes)
display(matrix_list.dtypes)

# 4. Attribute -> .astype()
print("[4] Attribute Astype - .astype()")
display(number_list.astype("str"))
display(string_list.astype("str"))
display(matrix_list.astype("str"))

display(number_list.dtypes)
display(string_list.dtypes)
display(matrix_list.dtypes)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

0       Usep
1    Syaikal
2     Arifin
dtype: object

   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

[1] Attribute Info -> .info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
 1   1       4 non-null      object
 2   2       4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes

None

[2] Attribute Shape -> .shape

'Dimensi series = 6 Baris'

'Dimensi series = 3 Baris'

'Dimensi Dataframe = 4 Baris & 3 Kolom'

[3] Attribute Dtypes -> .dtypes

dtype('int64')

dtype('O')

0    object
1    object
2    object
dtype: object

[4] Attribute Astype - .astype()

0    1
1    2
2    3
3    4
4    5
5    6
dtype: object

0       Usep
1    Syaikal
2     Arifin
dtype: object

   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

dtype('O')

dtype('O')

0    object
1    object
2    object
dtype: object