In [1]:
# Load library 
import numpy as np
import pandas as pd

In [2]:
# Load libarary
import pandas as pd
import numpy as np
from IPython.display import display

# Membuat Series
number_list = pd.Series([1, 2, 3, 4, 5, 6])
string_list = pd.Series(["Usep","Syaikal","Arifin"])
display(number_list)
display(string_list)

# Membuat Dataframe
matrix = [[1, 2, 3],
           ["a","b","c"],
           [3, 4, 5],
           ["d", 4, 6]]
matrix_list = pd.DataFrame(matrix)
display(matrix_list)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

0       Usep
1    Syaikal
2     Arifin
dtype: object

   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

In [4]:
# Load library atau modul
import pandas as pd
import numpy as np

# Membuat series
number_series = pd.Series([1, 2, 3, 4, 5, 6])
string_series = pd.Series(["a","b","c","d","e"])
display(number_list)
display(string_list)

# Membuat dataframe
matrix = [[1, 2, 3],
           ["a","b","c"],
           [3, 4, 5],
           ["d", 4, 6]]
matrix_list = pd.DataFrame(matrix)
display(matrix_list)

# 1. Attribute -> info()
print("[1] Attribute Info -> .info()")
display(matrix_list.info())

# 2. Attribute -> .shape
print("[2] Attribute Shape -> .shape")
display("Dimensi series = %d Baris"%number_list.shape)
display("Dimensi series = %d Baris"%string_list.shape)
display("Dimensi Dataframe = %d Baris & %d Kolom"%matrix_list.shape)

# 3. Attribute -> .dtypes
print("[3] Attribute Dtypes -> .dtypes")
display(number_list.dtypes)
display(string_list.dtypes)
display(matrix_list.dtypes)

# 4. Attribute -> .astype()
print("[4] Attribute Astype - .astype()")
display(number_list.astype("str"))
display(string_list.astype("str"))
display(matrix_list.astype("str"))

display(number_list.dtypes)
display(string_list.dtypes)
display(matrix_list.dtypes)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

0       Usep
1    Syaikal
2     Arifin
dtype: object

   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

[1] Attribute Info -> .info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
 1   1       4 non-null      object
 2   2       4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes

None

[2] Attribute Shape -> .shape

'Dimensi series = 6 Baris'

'Dimensi series = 3 Baris'

'Dimensi Dataframe = 4 Baris & 3 Kolom'

[3] Attribute Dtypes -> .dtypes

dtype('int64')

dtype('O')

0    object
1    object
2    object
dtype: object

[4] Attribute Astype - .astype()

0    1
1    2
2    3
3    4
4    5
5    6
dtype: object

0       Usep
1    Syaikal
2     Arifin
dtype: object

   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

dtype('int64')

dtype('O')

0    object
1    object
2    object
dtype: object

In [12]:
# Load modul atau library
import pandas as pd
import numpy as np

# Membuat series
number_list = pd.Series([1, 2, 3, 4, 5, 6])
# Membuat dataframe
matrix = [[1, 2, 3],
          ["a","b","c"],
          [3, 4, 5],
          ["d", 4, 6]]
matrix_list = pd.DataFrame(matrix)

# 5. Attribute -> .copy()
print("Attribute Copy ->.copy()")
copy_number_list = number_list.copy()
copy_matrix_list = matrix_list.copy()
display(copy_number_list)
display(copy_matrix_list)

# 6. Attribute -> .to_list()
print("Attribute To List -> .to_list()")
display(number_list.to_list())

# 7. Attribute -> .unique()
print("Attribute Unique -> .unique()")
display(number_list.unique())

Attribute Copy ->.copy()

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

Attribute To List -> .to_list()

[1, 2, 3, 4, 5, 6]

Attribute Unique -> .unique()

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [34]:
import pandas as pd
import numpy as np

# Membuat series
number_list = pd.Series([1, 2, 3, 4, 5, 6])

# Membuat Dataframe
matrix = [[1, 2, 3],
          ["a","b","c"],
          [3, 4, 5],
          ["d", 4, 6]]
matrix_list = pd.DataFrame(matrix)

# 8. Attribute Index -> .index
print("Attribute Index -> .index")
display(number_list.index)
display(matrix_list.index)

# 9. Attribute Column -> .columns
print("Attribute Column -> .columns")
display(matrix_list.columns)

# 10. Attribute Loc -> .loc
print("Attribute Loc -> .loc[baris, kolom]")
display(number_list.loc[0:1])
display(matrix_list.loc[0:2, 0:1])

# 11. Attribute iLoc -> .iloc
print("Attribute iLoc -> .iloc[]")
display(number_list.iloc[0:1])
display(matrix_list.iloc[0:1])
display(matrix_list.iloc[0:2,2])
display(matrix_list.iloc[0:3])

Attribute Index -> .index

RangeIndex(start=0, stop=6, step=1)

RangeIndex(start=0, stop=4, step=1)

Attribute Column -> .columns

RangeIndex(start=0, stop=3, step=1)

Attribute Loc -> .loc[baris, kolom]

0    1
1    2
dtype: int64

   0  1
0  1  2
1  a  b
2  3  4

Attribute iLoc -> .iloc[]

0    1
dtype: int64

   0  1  2
0  1  2  3

0    3
1    c
Name: 2, dtype: object

   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5

# Creating Series & Dataframe from list

In [37]:
import pandas as pd
import numpy as np

# Creating series from list
ex_list = ["a", 1, 2, 3, "b", "c"]
ex_series = pd.Series(ex_list)
display(ex_series)

# Creating dataframe from list of list
ex_list_of_list = [[1, "a", "b", "c"],
                    [2.5, "d", "e", "f"],
                    [5, "g", "h", "i"],
                    [7.5, "j", 10.5, "l"]]
index = ["dq", "lab", "kar", "lan"]
cols = ["float", "char", "obj", "char"]
ex_df = pd.DataFrame(ex_list_of_list, index=index, columns=cols)
display(ex_df)

0    a
1    1
2    2
3    3
4    b
5    c
dtype: object

     float char   obj char
dq     1.0    a     b    c
lab    2.5    d     e    f
kar    5.0    g     h    i
lan    7.5    j  10.5    l

# Creating Series & Dataframe from Dictionary

In [40]:
import pandas as pd
import numpy as np

# 1. Creating series from dictionary
dict_series = {"1" : "a",
               "2" : "b",
               "3" : "c"}
ex_series = pd.Series(dict_series)
display(ex_series)

# 2. Creating dataframe from dictionary
df_series = {"1" : ["a", "b", "c"],
             "2" : ["b", "c", "d"],
             "3" : [2, 3, "z"]}
ex_dataframe = pd.DataFrame(df_series)
display(ex_dataframe)

1    a
2    b
3    c
dtype: object

   1  2  3
0  a  b  2
1  b  c  3
2  c  d  z

# Creating Series & Dataframe from Numpy Array

In [46]:
import pandas as pd
import numpy as np

# Creating series from numpy array (1D)
arr_series = np.array([1,2,3,4,5,6,6,7])
ex_series = pd.Series(arr_series)
display(ex_series)

# Creating dataframe from numpy array (2D)
arr_df = np.array([[1, 2, 3, 5],
                  [5, 6, 7, 8],
                  ["a", "b", "c", 10]])
ex_df = pd.DataFrame(arr_df)
display(ex_df)

0    1
1    2
2    3
3    4
4    5
5    6
6    6
7    7
dtype: int32

   0  1  2   3
0  1  2  3   5
1  5  6  7   8
2  a  b  c  10

# Dataset I/O

In [47]:
# Load library atau modul
import pandas as pd
from IPython.display import display

# Load dataset file csv
df_csv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/sample_csv.csv")
# df_csv.to_csv(r"D:\Usep Syaikal Arifin\Computer Programming\Python Programming Language\DQLab-Academy-Course-Online\Kelas Fundamental\Data Manipulation With Pandas - Part 1\File Dokumentasi\File CSV\sample_csv.csv", index=None, header=True)
# df_csv.to_excel(r"D:\Usep Syaikal Arifin\Computer Programming\Python Programming Language\DQLab-Academy-Course-Online\Kelas Fundamental\Data Manipulation With Pandas - Part 1\File Dokumentasi\File Excel\sample_excel.xlsx", index=None, header=True)