In [1]:
# Load library 
import numpy as np
import pandas as pd

In [5]:
# Load libarary
import pandas as pd
import numpy as np
from IPython.display import display

# Membuat Series
number_list = pd.Series([1, 2, 3, 4, 5, 6])
string_list = pd.Series(["Usep","Syaikal","Arifin"])
display(number_list)
display(string_list)

# Membuat Dataframe
matrix = [[1, 2, 3],
           ["a","b","c"],
           [3, 4, 5],
           ["d", 4, 6]]
matrix_list = pd.DataFrame(matrix)
display(matrix_list)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

0       Usep
1    Syaikal
2     Arifin
dtype: object

   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6